# Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Dataset

In [2]:
anime_data = pd.read_csv('anime.csv')

# Cleaning anime_title

Let's remove the symbols found in anime_title

In [3]:
import re
def text_cleaning(text):
    text = re.sub(r'&quot;', '', text)
    text = re.sub(r'.hack//', '', text)
    text = re.sub(r'&#039;', '', text)
    text = re.sub(r'A&#039;s', '', text)
    text = re.sub(r'I&#039;', 'I\'', text)
    text = re.sub(r'&amp;', 'and', text)
    
    return text

In [4]:
anime_data['name'] = anime_data['name'].apply(text_cleaning)

In [5]:
# Filling NaNs with empty string
anime_data['genre'] = anime_data['genre'].fillna('')

In [6]:
anime_data['genre'] = anime_data['genre'].replace(',', ' ')

In [7]:
# keeping the columns that are useful in recommndation system
anime_data = anime_data.loc[:,['anime_id','name','genre','rating']]

In [8]:
anime_data.head()

,anime_id,name,genre,rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",9.37
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",9.26
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",9.25
3,9253,Steins;Gate,"Sci-Fi, Thriller",9.17
4,9969,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",9.16

In [9]:
anime_data.isnull().sum()

anime_id      0
name          0
genre         0
rating      230
dtype: int64

In [10]:
# Now converting the ‘movie_title’ columns values to lowercase for searching simplicity.
anime_data['name'] = anime_data['name'].str.lower()

In [11]:
anime_data[anime_data['genre'] == np.nan]

Empty DataFrame
Columns: [anime_id, name, genre, rating]
Index: []

In [12]:
anime_data.to_csv('cleaned_anime.csv', index = False)